.chat-tab {
  float: left;
  background-color: gray;
  padding: 3px;
  color: whitesmoke;
  border: 1px solid white;
}

.chat-tab.unresponded {
  background-color: lightskyblue;
}

#chat-tab-bar {
  overflow: hidden;
}

.tracker {
  border: 1px solid white;
  background-color: white;
  text-align: center;
  color: blue;
  padding: 1px;
  font-size: 70%;
}